cluster.name: {{clustername}}
node.name: {{nodename}}
path.data: {{dataDir}}
path.logs: {{dataLogDir}}
network.host: {{networkhost}}
http.port: {{clientPort}}
discovery.zen.ping.unicast.hosts: ["{{node01}}","{{node02}}","{{node03}}"]
discovery.zen.minimum_master_nodes: 2
http.cors.enabled: true
http.cors.allow-origin: "*"
thread_pool.bulk.queue_size: -1
