node.name: {{nodename}}
path.data: /opt/application/{{app_name}}/data
path.logs: /opt/application/{{app_name}}/logs
network.host: 0.0.0.0
http.port: 9200
discovery.zen.ping.unicast.hosts: [{{zenhosts}}]
discovery.zen.minimum_master_nodes: 2
http.cors.enabled: true
http.cors.allow-origin: "*"
thread_pool.bulk.queue_size: -1


